<h1>All upcoming events</h1>

<% @events.each do |event| %>
  <div>
    Event date: <%= event.date %> <br \>
    Event location: <%= event.location %>
  </div>
  <%= link_to 'Show more', event_path(event) %>
  <hr>
<% end %>